.screen
{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(222.1deg, #7C819C 16.86%, rgba(161, 164, 184, 0.53) 57.66%, rgba(130, 112, 94, 0.76) 86.8%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .logo-box
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50%;
        text-align: center;
        font-weight: 400;
        font-size: 8vw;
        color: #494752;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    
        #logo{
            height: auto;
        }
        
        #logo-subtext
        {
            height: auto;
            padding: 0;
            font-size: 2vw;
            margin-top:8%;
        }
    
    }

    .login-box
    {
        width: 50%;
        form
        {
            width: 80%;
            height: 60vh;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
            border-radius: 25px;

            #login-form
            {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                height: 90%;
            }
        

            #registration{
                margin:0;
                font-weight: 300;
                text-align: center;
            }

            mat-form-field
            {
                width: 80%;
            }

            button[mat-raised-button]
            {
                background: #F55C0A;
                width: 80%;
                color:white;
                padding: 2.5vh; 
            }
            
            a{
                font-weight: bolder;   
            }
        }
        
    }
    @media only screen and (max-device-width: 650px) {
        flex-direction: column;
    
        .logo-box{
            margin:auto;
            width: 100%;

            #logo{
                font-size: 2em;
            }

            #logo-subtext{
                font-size: 0.5em;
            }
            
        }

        .login-box{
            margin-bottom: 20%;
            width: 100%;
            
            form{
                margin:auto;
                height: 60vh;

                h1{
                    font-size: 1.8em;
                }

                #registration{
                    font-size: 1.3em;
                }
            }
        }
    }
}

