/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; box-sizing: border-box;}
a {text-decoration: none; color:black}
body { margin: 0; font-family: 'Gotu'; font-style: normal; }
@import '@angular/cdk';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";